html, body, .container {width: 100%; height: 100%;}
body {-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; color: #333; background: #fff;}
body, h1, span, p {margin: 0; padding: 0;}
body a {display: none;}
.fl {float: left;}
.fr {float: right;}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; tap-highlight-color: rgba(0, 0, 0, 0);}

/* 我的等级信息 */
.content {padding-bottom: 40px;}
.card {width: 90%; margin: 0 auto; margin-top: 3.5%; text-align: center; color: #333; position: relative;}
.card.isHuiy {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_bg_a1@3x.png) no-repeat; background-size: 100% 100%; }
.card.isHuiy .info_grade {background: #000;}
.card.isBaiy {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_bg_b@3x.png) no-repeat; background-size: 100% 100%; }
.card.isBaiy .info_grade {background: #275C60;}
.card.isHuan {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_bg_c@3x.png) no-repeat; background-size: 100% 100%; }
.card.isHuan .info_grade {background: #6D1B00;}
.card.isZuan {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_bg_d@3x.png) no-repeat; background-size: 100% 100%; }
.card.isZuan .info_grade {background: #58009F;}
.card.isHead {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_bg_A@3x.png) no-repeat; background-size: 100% 100%; }
.card.isHead .info_grade {background: #000;}
.card.isHuan .info_name, .card.isHuan .info_id, .card.isZuan .info_name, .card.isZuan .info_id{ text-shadow: 0 0 5px rgba(0, 0, 0, .2);}
.info_img {width: 100px; height: 138px; position: relative; margin: 0 auto;}
.info_img img{width: 32px; height: 32px; border-radius: 50%; position: absolute; bottom: 2%; left: 50%; margin-left: -16px; z-index: 1;}
.isHuiy .info_img::after, .isBaiy .info_img::after, .isHuan .info_img::after, .isZuan .info_img::after {
    content: ''; display: block; position: absolute; top: 2px; left: 0; bottom: 0; right: 0; z-index: 2;
}
.isHuiy .info_img img{bottom: 5%;}
.isHuiy .info_img::after { background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_logo_a1@3x.png) bottom no-repeat; background-size: 100%; }
.isBaiy .info_img::after { background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_logo_b@3x.png) no-repeat; background-size: 100%; }
.isHuan .info_img::after { background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_logo_d@3x.png) no-repeat; background-size: 100%; }
.isZuan .info_img::after { background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_logo_d@3x.png) no-repeat; background-size: 100%; }
.info_img.isHead img {left: 52%; bottom: 3%;}
.isHead .info_img.isHead::after {
    content: ''; display: block; position: absolute; top: 2px; left: 0; bottom: 0; right: 0; z-index: 2;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_logo_A@3x.png) no-repeat;
    background-size: 100%;
}
.card_info {display: inline-block;}    
.info_name {width: 150px; text-overflow: ellipsis; font-size: 0.8rem; font-weight: bold; white-space: nowrap; overflow: hidden; color: #fff;}    
.info_id {font-weight: normal; font-size: 0.7rem; margin: 0; color: #fff; margin-bottom: 3px;}      
.info_name, .info_id {text-shadow: 0 0 5px rgba(0, 0, 0, .5); font-family:"PingFang SC",Georgia,Serif;}
.info_grade {position: absolute; top: 13%; right: 0; width: 2.5rem; height: 1rem; line-height: 1rem; font-size: 0.7rem; color: #fff; border-radius: 15px 0 0 15px;}


/* 等级内容 */
.grade {margin-top: 20px;}
.grade_tips {text-align: center; font-size: 0.8rem; font-weight: bold;}
.grade_tips span {font-size: 0.7rem;}
.grade_tips .isHuiy {color: #999;}
.grade_tips_xx {width: 75%; margin: 0 auto; text-align: center; margin-top: 10px; margin-bottom: 15px;}
.grade_tips_xx .zs,
.grade_tips_xx .xx,
.grade_tips_xx .bxx,
.grade_tips_xx .jxx,
.grade_tips_xx .zxx,
.grade_tips_xx .hxx {display: inline-block; width: 36px; height: 36px; background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_x_z@2x.png) center center no-repeat; background-size: 20px;}
.grade_tips_xx .xx {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_x_z_2@2x.png) center center no-repeat; background-size: 20px;}
.grade_tips_xx .hxx {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_x_a@2x.png) center center no-repeat; background-size: 18px;}
.grade_tips_xx .bxx {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_x_b@2x.png) center center no-repeat; background-size: 18px;}
.grade_tips_xx .jxx {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_x_c@2x.png) center center no-repeat; background-size: 18px;}
.grade_tips_xx .zxx {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_x_d@2x.png) center center no-repeat; background-size: 18px;}
.grade_tips_zhuanb_wrap {margin: 0 auto; text-align: center;}
.grade_tips_zhuanb {font-size: 0.7rem;  padding: 8% 6% 6% 6%; position: relative; display: inline-block;}
.grade_tips_zhuanb.isZuan::after {
    content: ''; display: block; position: absolute; top: 2px; left: 0; bottom: 0; right: 0; z-index: 2;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_zhuanb_2@3x.png) 5% no-repeat;
    background-size: 100% 90%;
}
.grade_item_rule {width: 90%; margin: 0 auto; margin-top: 20px;}
.grade_item_rule h3 {
    border-radius: 8px; margin: 0 auto; font-size: 0.7rem; width: 35%; height: 1.8rem; line-height: 1.8rem; text-align: center;
    position: relative; z-index: 10;
}
.grade_item_rule_box {background: #F7F7F7; color: #333333; font-size: 0.6rem; padding-top: 2rem; margin-top: -0.9rem; margin-bottom: 65px; padding-bottom: 1rem;}
.grade_item_rule_box p {width: 85%; margin: 0 auto; margin-bottom: 0.7rem; text-align:justify; text-justify:inter-ideograph;}
.grade_type {width: 90%; margin: 0 auto; text-align: center;}
.grade_type .grade_item {width: 32%; display: inline-block; position: relative;}
.grade_item img {display: block; width: 100%;}
.grade_item p {position: absolute; left: 0; right: 0; bottom: 30%; font-size: 0.5rem; text-align: center;}

/* 提升等级 */
.bottom_tips {
    position: fixed; bottom: 53px; padding: 0.2rem 0; font-size: 0.6rem; text-align: center; width: 100%; text-align: center; color: #fff;
    background: #7F7F7F; opacity: 0.9;
}
.bottom_wrap {background: #fff; position: fixed; bottom: 0; height: 40px; line-height: 40px; width: 100%; padding-bottom: 8px; padding-top: 5px; z-index: 99;}
.bottom {
    text-align: center; font-size: 0.7rem; width: 90%; margin: 0 auto; overflow: hidden;
}
.bottom div {width: 48%;}
.bottom div:nth-child(1) {color: #fff; background: #FCCD00; border-radius: 10px;}
.bottom .bottom_invite:nth-child(1) {color: #fff; background: #FF5C5C; border-radius: 10px; margin: 0 auto;}
.bottom div:nth-child(2) {color: #fff; background: #FF5C5C; border-radius: 10px;}
.bottom div.no_pay {background: #ccc;}

/* 支付 */
.pay, .pay_success, .pay_fail, .pay_no {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, .2); z-index: 999;}
.pay.isApp, .pay_success.isApp, .pay_fail.isApp, .pay_no.isApp {top: 66px;}
.pay_cancel {position: absolute; top: 0; bottom: 38%; width: 100%;}
.pay_box {position: absolute; bottom: 0; width: 100%; height: 38%; background: #fff; border-radius: 12px 12px 0 0; font-size: 0.7rem;}
.pay_title, .pay_title_s {width: 100%; height: 40px; line-height: 40px; position: relative;}
.pay_title h1, .pay_title_s h1 {font-size: 17px; font-weight: 500; width: 60%; margin: 0 auto; text-align: center; color: #333; position: relative;}
.pay_title_s h1 span {
    width: 1rem; height: 0.8rem; display: inline-block; vertical-align: middle; margin-right: 0.3rem; position: relative; top: -0.1rem;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_dg.png) no-repeat;
    background-size: 100%; 
}
.pay_title span {position: absolute; top: 0; left: 0; height: 40px; width: 55px; color: #666; font-size: 0.6rem; text-align: center;}
.pay_content, .pay_content_s {width: 80%; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -60%);}
.pay_content p:nth-child(1) {color: #FF5C5C; font-size: 0.8rem;}
.pay_content p:nth-child(1) span {
    width: 1rem; height: 0.8rem; display: inline-block; vertical-align: middle; margin-right: 0.3rem; position: relative; top: 0.1rem;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_tdn.png) no-repeat;
    background-size: 100%; 
}
.pay_content p:nth-child(2) {color: #666; margin-top: 0.3rem;}
.pay_confirm {
    position: absolute; bottom: 5%; width: 68%; left: 50%; transform: translate(-50%, 0); text-align: center; height: 40px; line-height: 40px;
    border-radius: 10px; font-size: 0.8rem; background: #FF5C5C; color: #fff;
}
.pay_content_s {color: #666; transform: translate(-50%, -60%); text-align: left;}
.pay_content_s div {
    display: inline-block;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
}
.pay_no .pay_content_s {transform: translate(-50%, -70%);}
.pay_content_s p{margin-top: 0.3rem; display: inline-block;}
.pay_fail .pay_content_s P:nth-child(2){text-align: left;}
.pay_box_f {position: absolute; width: 70%; left: 15%; height: 33%; top: 30%; background: #fff; border-radius: 10px; font-size: 0.7rem;}
.pay_no .pay_box_f {height: 26%;}

