<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no" />
    <title>商城等级</title>
    <link rel="stylesheet" href="../css/mallGrade.2.css">
    <!-- <link rel="stylesheet" href="http://dev-sbzhibo-h5.oss-cn-hangzhou.aliyuncs.com/app/css/mallGrade.css"> -->
    <!-- <link rel="stylesheet" href="https://h5.tudouni.doubozhibo.com/tudouni/css/mallGrade.css"> -->
    <script src="https://h5.tudouni.doubozhibo.com/tudouni/js/whyInvistor.js"></script>
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1273328506"]);
    </script>
</head>
<body>
    <div class="container">
        <div class="content">
            <div 
                class="card"
                :class="{
                    'isHuiy': myGrade.agentSeries == '会员', 
                    'isBaiy': myGrade.agentSeries == '白银', 
                    'isHuan': myGrade.agentSeries == '黄金', 
                    'isZuan': myGrade.agentSeries == '钻石',
                    'isHead': headAgent
                }"
            >
                <div class="card_info" style="display: none;" v-show="myGrade.sex">
                    <div class="info_img" :class="{'isHead': headAgent}">
                        <img :src="myGrade.photo ? imgSize(myGrade.photo)  : 'https://h5.tudouni.doubozhibo.com/m/img/userHeader.png'">
                    </div>
                    <p class="info_name" v-text="myGrade.nickName"></p>
                    <p class="info_id" v-text="'ID ' + myGrade.unumber"></p>
                </div>
                <p class="info_grade"><em v-text="myGrade.agentSeries"></em></p>
            </div>

            <!-- 等级内容 -->  
            <div class="grade">
                <p class="grade_tips">赚钱能力<span v-text="ability(myGrade.agentSeries, headAgent, 0)" :class="{'isHuiy': myGrade.agentSeries == '会员'}"></span></p>
                <p class="grade_tips_xx"  v-html="ability(myGrade.agentSeries, headAgent, 1)"></p>
                <div class="grade_tips_zhuanb_wrap">
                    <p class="grade_tips_zhuanb" :class="{'isZuan': myGrade.agentSeries == '钻石'}" v-text="ability(myGrade.agentSeries, headAgent, 2)"></p>
                </div>
                <div class="grade_type">
                    <div class="grade_item">
                        <img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_sj_a_2@2x.png" alt="">
                        <p v-text="'赚钱能力' + ability('白银', headAgent, 0)"></p>
                    </div>
                    <div class="grade_item">
                        <img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_sj_b@2x.png" alt="">
                        <p v-text="'赚钱能力' + ability('黄金', headAgent, 0)"></p>
                    </div>
                    <div class="grade_item">
                        <img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0420_sj_c@2x.png" alt="">
                        <p v-text="'赚钱能力' + ability('钻石', headAgent, 0)"></p>
                    </div>
                </div>
                <div class="grade_item_rule">
                    <h3>规则说明</h3>
                    <div class="grade_item_rule_box">
                        <p>
                            1. 土豆泥用户分为普通会员、VIP会员，其中VIP会员细分为白银、黄金、钻石3个等级。<br/>
                                &nbsp;&nbsp;A.土豆泥普通会员只能领取惠券和参与优惠活动，不能获得平台奖励佣金；<br/>
                                &nbsp;&nbsp;B.土豆泥VIP会员既可以领券，也可以拿平台奖励佣金；<br/>
                                &nbsp;&nbsp;C.单次购物的全部平台奖励佣金=消费佣金＋推广佣金，各占50%（例如购买某商品，商平台奖励佣金为10元，则消费佣金5元，推广佣金5元）；
                        </p>
                        <p>2. 平台奖励的消费佣金的获取：VIP会员自购能获取100%消费佣金；VIP会员推荐的直属普通会员购物后，VIP会员也能获取100%消费佣金。</p>
                        <p>3. 平台奖励的推广佣金的获取：取得消费佣金的VIP会员，他的邀约人如果达到VIP会员级别，就能获取平台奖励的推广佣金。</p>
                        <p>4. 佣金比例按等级区分：白银10%、黄金20%、钻石30%。</p>
                        <p>
                            5. VIP会员升级规则<br/>
                                &nbsp;&nbsp;A.用户下载土豆泥并注册后，即为土豆泥普通会员；<br/>
                                &nbsp;&nbsp;B.如何升级成为白银：直属邀请用户达3人，或缴纳1000“土豆泥”即可升级成为白银级别；<br/>
                                &nbsp;&nbsp;C.如何升级成为黄金：直属邀请用户与二级邀请用户合计达100人，或缴纳3000“土豆泥”即可升级成为黄金级别；<br/>
                                &nbsp;&nbsp;D.如何升级成为钻石：直属邀请用户与二级邀请用户合计达300人，或缴纳1万“土豆泥”即可升级成为钻石级别；
                                <!-- &nbsp;&nbsp;C.如何升级成为黄金：直属邀请用户达100人，二级邀请用户达200人，或缴纳3000“土豆泥”即可升级成为黄金级别；<br/>
                                &nbsp;&nbsp;D.如何升级成为钻石：直属邀请用户达300人，二级邀请用户达1500人，或缴纳1万“土豆泥”即可升级成为钻石级别； -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 升级支付按钮 -->
        <div class="bottom_tips" style="display: none;" v-show="payTips">
            <!-- <p v-if="myGrade.agentSeries == '会员'"><span>您距离升级“白银”VIP还差{{lackTdn}}土豆泥。</span><br> <span>或者{{firstLevel | minus(3)}}个直属豆粉</span></p>
            <p v-if="myGrade.agentSeries == '白银'"><span>您距离升级“黄金”VIP还差{{lackTdn}}土豆泥。</span><br> <span>或者{{firstLevel | minus(100)}}个直属豆粉、{{secondLevel | minus(200)}}个推荐豆粉!</span></p>
            <p v-if="myGrade.agentSeries == '黄金'"><span>您距离升级“钻石”VIP还差{{lackTdn}}土豆泥。</span><br> <span>或者{{firstLevel | minus(300)}}个直属豆粉、{{secondLevel | minus(1500)}}个推荐豆粉!</span></p> -->
            <p v-if="myGrade.agentSeries == '会员'"><span>您距离升级“白银”VIP还差{{lackTdn}}土豆泥。</span><br> <span>或者{{firstLevel | minus(3)}}个直属豆粉！</span></p>
            <p v-if="myGrade.agentSeries == '白银'"><span>您距离升级“黄金”VIP还差{{lackTdn}}土豆泥。</span><br> <span>或者整个团队达到{{allLevel | minus(100)}}人！</span></p>
            <p v-if="myGrade.agentSeries == '黄金'"><span>您距离升级“钻石”VIP还差{{lackTdn}}土豆泥。</span><br> <span>或者整个团队达到{{allLevel | minus(300)}}人！</span></p>
        </div>
        <div class="bottom_wrap" style="display: none;" v-show="myGrade.agentSeries == '白银' || myGrade.agentSeries == '会员'">
            <div class="bottom" >
                <div class="fl" @click="payOpen">土豆泥兑换等级</div>
                <div class="fr" @click="goInvite">邀请朋友提升等级</div>
            </div>
        </div>
        <div class="bottom_wrap" style="display: none;" v-show="myGrade.agentSeries == '钻石' || myGrade.agentSeries == '黄金'">
            <div class="bottom">
                <div class="bottom_invite" @click="goInvite" v-if="myGrade.agentSeries == '黄金'">邀请朋友提升等级</div>
                <div class="bottom_invite" @click="goInvite" v-if="myGrade.agentSeries == '钻石'">邀请朋友一起来玩</div>
            </div>
        </div>

        <!-- 升级支付弹层 -->
        <div class="pay"  style="display: none" v-show="isPay"> 
            <div class="pay_cancel" @click="pay(false)"></div>
            <div class="pay_box">
                <div class="pay_title">
                    <span @click="pay(false)">取消</span>
                    <h1>确认兑换</h1>
                </div>
                <div class="pay_content">
                    <p><span></span>{{needTdn}}土豆泥</p>
                    <p v-text="'您当前拥有' + myGrade.experience +'土豆泥'"></p>
                </div>
                <div class="pay_confirm" @click="payNow" v-text="'立即升级'"></div>
            </div>
        </div>
        <div class="pay_success" style="display: none" v-show="payOk">
            <div class="pay_box">
                <div class="pay_title_s">
                    <h1><span></span>升级成功</h1>
                </div>
                <div class="pay_content_s">
                    <div>
                        <p v-text="'昵称： '+  myGrade.nickName"></p><br/>
                        <p v-text="'当前等级： ' + myGrade.agentSeries"></p>
                    </div>
                </div>
                <div class="pay_confirm" @click="pSuccess">完成</div>
            </div>
        </div>
        <div class="pay_fail" style="display: none" v-show="pFail">
            <div class="pay_box_f">
                <div class="pay_title_s">
                    <h1>提示</h1>
                </div>
                <div class="pay_content_s" v-if="!sameType">
                    <p>抱歉! 您的土豆泥余额不足!</p>
                    <p>您可以试试:<br/>1. 邀请朋友成为你的豆粉<br/>2. 通过打赏主播获得更多土豆泥</p>
                </div>
                <div class="pay_content_s" v-if="sameType">
                    <p>当前等级已经达到或超过升级等级</p>
                </div>
                <div class="pay_confirm" @click="payFail">完成</div>
            </div>
        </div>
    </div>
    <script src="https://s22.cnzz.com/z_stat.php?id=1273328506&web_id=1273328506" language="JavaScript"></script>
</body>
    <script src="https://h5.tudouni.doubozhibo.com/tudouni/js/jquery.js"></script>
    <script src="https://h5.tudouni.doubozhibo.com/tudouni/js/vue.min.js"></script>
    <script>
        var userAgent = window.navigator.userAgent;
        var isApp = userAgent.indexOf('tudouni') > -1 || userAgent.indexOf('tuoduni') > -1 || userAgent.indexOf('sa-sdk-ios') > -1;
        function connectWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) {
                callback(WebViewJavascriptBridge)
            } else {
                document.addEventListener('WebViewJavascriptBridgeReady', function() {
                callback(WebViewJavascriptBridge)
                }, false)
            }
        }
        connectWebViewJavascriptBridge(function(bridge) {
            window.bridge=bridge
            bridge.init(function(message, responseCallback) {
                if (responseCallback) {
                    responseCallback("Right back atcha")
                }
            })
        });
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return r[2];
            return null;
        }

        new Vue({
            el: '.container',
            data: {
                isApp: isApp,
                isPay: false, //支付开关
                payOk: false, //支付成功
                payNo: false, //未选择支付等级
                pFail: false, //支付失败
                sameType: false,  //假如支付时当前等级已达到目标等级
                payTips: false, //支付余额不足提示
                gradeType: {
                    a: '白银',
                    b: '黄金',
                    c: '钻石'
                },
                myGrade: { //头像, 性别, 昵称, id, 商城等级, 土豆泥余额
                    photo: '',
                    sex: '',
                    nickName: '',
                    unumber: '',
                    agentSeries: '',
                    experience: ''
                }, 
                payInfo: {
                    uid: getUrlParam('uid'),
                    targetId: '',
                    series: ''
                }, //支付用户id, 被升级用户id, 升级级别
                domain: 'http://47.96.29.209:8080',
                // domain: 'https://wap.tudouni.doubozhibo.com',
                token: getUrlParam('token') || '6d96fff45abbeacf55f9aa2ab06c5109',
                uid: getUrlParam('uid') || 1601,
                gradeTips: {
                    a: '',
                    b: '',
                    c: ''
                },
                needTdn: 0,
                lackTdn: 0,
                firstLevel: '', //直属豆粉
                secondLevel: '', //推荐豆粉
                allLevel: '', //直属加推荐人数
                baiy: '',
                headAgent: false  //是否为大A
            },
            mounted: function() {
                this.getInfo();
            },
            methods: {
                choose: function(x) {
                    switch (x) {
                        case 1 :
                            this.select2 = '';
                            this.select1 = !this.select1;
                            if (this.select1) {
                                this.payInfo.series = 3;
                                this.payNum = 1000;
                                this.myGrade.agentSeries == this.gradeType.a ? this.payType = false : this.payType = true;
                            } else {
                                this.payInfo.series = '';
                                this.payNum = '';
                                this.payType = true;
                            }
                            break;
                        case 2:
                            this.select1 = '';
                            this.select2 = !this.select2;
                            if (this.select2) {
                                this.payInfo.series = 4;
                                this.payNum = '10万';
                                //判断当前等级和选中等级一致时升级按钮变灰
                                this.myGrade.agentSeries == this.gradeType.b ? this.payType = false : this.payType = true;
                                //选中时支付按钮上面的提示
                                //this.payTips = true;
                            } else {
                                this.payInfo.series = '';
                                this.payNum = '';
                                this.payType = true;
                                //this.payTips = false;
                            }
                            break;
                        default: 
                            this.select1 = '';
                            this.select2 = '';
                            return;
                    }
                },
                pay: function(x) {
                    this.isPay = x;
                },
                payOpen: function() {
                    var a = Number(this.myGrade.experience);
                    var b = Number(this.needTdn);
                    _czc.push(["_trackEvent", "我的等级", "土豆泥兑换等级", "点击次数"]);
                    //判断当前用户土豆泥余额是否够支付所选等级
                    if (a < b) {
                        this.lackTdn = b - a;
                        this.payTips = true;
                        var self = this;
                        setTimeout(function(){self.payTips = false;}, 3000);
                    } else {
                        this.isPay = true;
                    }
                    //this.isPay = true;
                },
                payNow: function() {
                    //点击立即升级时关闭支付弹层, 还原默认提示语
                    this.isPay = false;
                    this.sameType = false;
                    var self = this;
                    $.ajax({
                        type: 'post',
                        url: self.domain + '/auth/h5/user/upgradeAgentSeries',
                        // type: 'get',
                        // url: '../data/upgrade.json',
                        data: {
                            uid: self.uid,
                            targetId: self.uid,
                            token: self.token,
                            series: self.payInfo.series
                        },
                        success: function(res) {
                             //升级成功
                            if (res.code == 0) {
                                if (self.payInfo.series == 3) self.myGrade.agentSeries = '白银';
                                if (self.payInfo.series == 4) self.myGrade.agentSeries = '黄金';                
                                self.payOk = true;
                                //self.myGrade.experience -= self.needTdn;
                                self.getInfo();
                            } 

                            //土豆泥余额不足
                            if (res.code == 4128) {
                                self.sameType = false;
                                self.pFail = true;
                            }

                            //当前等级已达到目标等级
                            if (res.code == 1067) {
                                self.sameType = true;
                                self.pFail = true;
                            }
                        }
                    });
                    
                },
                pSuccess: function() {
                    this.payOk = false;
                },
                payFail: function() {
                    this.pFail = false;
                    this.payNo = false;
                },
                getInfo: function() {
                    var self = this;
                    $.ajax({
                        type: 'get',
                        url: self.domain + '/auth/h5/user/info',
                        // url: '../data/meinfo.json',
                        data: {
                            token: self.token,
                            uid: self.uid
                        },
                        success: function(res) {
                            if (res.code == 0) {
                                var data = res.data;
                                self.headAgent = data.headAgent;
                                for (var key in self.myGrade) {
                                    self.myGrade[key] = data[key];   
                                }
                                self.exchanges(self.myGrade.agentSeries);
                            }
                        }
                    });

                    $.ajax({
                        type: 'get',
                        url: self.domain + '/auth/h5/invite/aggCount',
                        // url: '../data/mecount.json',
                        data: {
                            token: self.token,
                            uid: self.uid
                        },
                        success: function(res) {
                            var res = JSON.parse(res);
                            if (res.code == 0) {
                                self.firstLevel = res.data.firstLevel;
                                self.secondLevel = res.data.secondLevel;
                                self.allLevel = Number(self.firstLevel) + Number(self.secondLevel);
                            }
                        }
                    });
                },
                exchanges: function(x) {
                    var self = this;
                    switch (x) {
                        case 2 :
                            self.myGrade.agentSeries = '会员';
                            self.payInfo.series = 3;
                            self.needTdn = 1000;
                            break;
                        case 3:
                            self.myGrade.agentSeries = '白银';
                            self.payInfo.series = 4;
                            self.needTdn = 3000;
                            break;
                        case 4 :
                            self.myGrade.agentSeries = '黄金';
                            self.payInfo.series = 5;
                            self.needTdn = 10000;
                            break;
                        case 5:
                            self.myGrade.agentSeries = '钻石';
                            break;
                        default: 
                            self.myGrade.agentSeries = '会员';
                            return;
                    }
                    self.myGrade.agentSeries = '会员';
                    // self.payInfo.series = 3;
                    // self.needTdn = 1000;
                    self.headAgent = true;
                },
                goInvite: function() {
                    _czc.push(["_trackEvent", "我的等级", "邀请朋友提升等级", "点击次数"]);
                    window.location.href = "tudouni://tudouni/invisitPoster";
                },
                imgSize: function(imgurl) {
                    return imgurl += '?x-oss-process=image/resize,m_fixed,w_100,image/crop,w_100,h_100,g_center';
                },
                ability: function(a, b, c) {
                    //b代表是否大A
                    var result = '';
                    if (!c) {
                        if (b) {
                            a == "钻石" ? result = "（登封造极）" : '';
                            a == "黄金" ? result = "（超爆棚）" : '';
                            a == "白银" ? result = "（很爆棚）" : '';
                            a == "会员" ? result = "（爆棚）" : '';
                        } else {
                            a == "钻石" ? result = "（强）" : '';
                            a == "黄金" ? result = "（中）" : '';
                            a == "白银" ? result = "（弱）" : '';
                            a == "会员" ? result = "（无）" : '';
                        }
                    } else if(c == 1) {
                        if (b) {
                            a == "钻石" ? result = '<span class="zs"></span><span class="xx"></span><span class="xx"></span><span class="xx"></span><span class="xx"></span><span class="xx"></span>' : '';
                            a == "黄金" ? result = '<span class="zs"></span><span class="xx"></span><span class="xx"></span><span class="xx"></span><span class="hxx"></span><span class="hxx"></span>' : '';
                            a == "白银" ? result = '<span class="zs"></span><span class="xx"></span><span class="xx"></span><span class="hxx"></span><span class="hxx"></span><span class="hxx"></span>' : '';
                            a == "会员" ? result = '<span class="zs"></span><span class="hxx"></span><span class="hxx"></span><span class="hxx"></span><span class="hxx"></span><span class="hxx"></span>' : '';
                        } else {
                            a == "钻石" ? result = '<span class="zxx"></span><span class="zxx"></span><span class="zxx"></span><span class="zxx"></span></span><span class="zxx"></span>' : '';
                            a == "黄金" ? result = '<span class="jxx"></span><span class="jxx"></span><span class="jxx"></span><span class="hxx"></span></span><span class="hxx"></span>' : '';
                            a == "白银" ? result = '<span class="bxx"></span><span class="bxx"></span><span class="hxx"></span><span class="hxx"></span></span><span class="hxx"></span>' : '';
                            a == "会员" ? result = '<span class="hxx"></span><span class="hxx"></span><span class="hxx"></span><span class="hxx"></span><span class="hxx"></span>' : '';
                        }
                    } else {
                        if (b) {
                            a == "钻石" ? result = "赚钱能力已经达到顶峰，躺着都赚！" : result = '提升等级，赚钱再加倍，目标—躺着赚！';
                        } else {
                            a == "钻石" ? result = "您已是最高等级啦！" : a == "会员" ? result = "升级VIP不只是更省钱、还能赚钱！" : result = '升级获取更多收益';
                        }
                    }
                    return result;
                }
            },
            filters: {
                minus: function(a, b) {
                    var result = b - a;
                    return result;
                }
            }
        });
    </script>
</html>