html, body, .container {width: 100%; height: 100%;}
body {-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; color: #333; background: #fff;}
body, h1, span, p {margin: 0; padding: 0;}
body a {display: none;}
.fl {float: left;}
.fr {float: right;}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 我的等级信息 */
.content {margin-bottom: 60px;}
.card {
    width: 95%; margin: 0 auto; margin-top: 3%; text-align: center; color: #333;
    /* background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_bg.png) no-repeat;
    border: 1px solid #e7e7e7; border-radius: 10px; 
    background-size: 100% 100%; */
    position: relative;
}
.card.isHuiy {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_bg_a@3x.png) no-repeat; background-size: 100% 100%; }
.card.isHuiy .info_grade {background: #000;}
.card.isBaiy {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_bg_b@3x.png) no-repeat; background-size: 100% 100%; }
.card.isBaiy .info_grade {background: #97D0F4;}
.card.isHuan {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_bg_c@3x.png) no-repeat; background-size: 100% 100%; }
.card.isHuan .info_grade {background: #FF8A00;}
.card.isZuan {background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_bg_d@3x.png) no-repeat; background-size: 100% 100%; }
.card.isZuan .info_grade {background: #1C90EF;}
.card.isHuan .info_name, .card.isHuan .info_id, .card.isZuan .info_name, .card.isZuan .info_id{
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.card .left {position: absolute; top: 35%; left: -5px; width: 10px; height: 10px; border-radius: 100%; background: #fff;}
.card .right {position: absolute; top: 35%; right: -5px; width: 10px; height: 10px; border-radius: 100%; background: #fff;}
.card_info {display: inline-block;}
.info_img {width: 3.8rem; height: 3.8rem; border-radius: 50%; border: 2px solid #fff; margin: 0 auto; margin-top: 1rem; margin-bottom: 0.2rem; position: relative;}
.info_img img {width: 100%; height: 100%; border-radius: 100%;}        
.info_img span {position: absolute; bottom: 0; right: 0; width: 1rem; height: 1rem;}                
.info_name {width: 150px; text-overflow: ellipsis; font-size: 0.8rem; font-weight: bold; white-space: nowrap; overflow: hidden; color: #fff; margin-bottom: 0.2rem; margin-top: 0.4rem;}    
.info_id {font-weight: normal; font-size: 0.8rem; margin: 0; color: #fff; margin-bottom: 1rem;}      
.info_name, .info_id {
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    font-family:"PingFang SC",Georgia,Serif;
}
.info_grade {position: absolute; top: 13%; right: 3%; width: 2.5rem; height: 1rem; line-height: 1rem; font-size: 0.7rem; color: #fff; border-radius: 15px 0 0 15px;}
.info_grade_highest {
    position: absolute; top: 1.8%; left: 35.6%; width: 2rem; height: 2rem; 
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0404_10_2@3x.png) no-repeat;
    background-size: 82%;
    transform:rotate(-50deg);
    -ms-transform:rotate(-50deg); 	/* IE 9 */
    -moz-transform:rotate(-50deg); 	/* Firefox */
    -webkit-transform:rotate(-50deg); /* Safari 和 Chrome */
    -o-transform:rotate(-50deg); 
}        

/* 升级 */
.grade {width: 90%; margin: 0 auto; margin-top: 1.5rem;}
.grade_tips {font-size: 0.75rem; font-weight: bold; height: 1.5rem; line-height: 1.5rem; text-align: center; position: relative;}
.grade_tips .ellipsis {
    position: absolute; right: 0; width: 1.5rem; height: 1.5rem; display: block; top: 0; background: red;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0404_5@3x.png) center center no-repeat;
    background-size: 18px;
}
.ellipsis_type {position: absolute; width: 2rem; height: 5rem; right: -0.25rem; bottom: -5rem; display: none; }
.ellipsis_type div{display: inline-block; width: 2rem; height: 2rem; position: relative;}
.ellipsis_type img{display: block; width: 100%;}
.ellipsis_type p{
    position: absolute; left: -3.5rem; top: 0; width: 3rem; height: 1.5rem; background: red; display: inline-block; font-size: 12px; line-height: 1.5rem;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/04004_4@3x.png) center center no-repeat;
    background-size: 100%;
    padding: 0.3rem; font-weight: 500; color: #fff; padding-right: 0.5rem;
}

.grade_type {width: 100%; margin: 0 auto; margin-top: 1rem;}
.grade_type .nothing {height: 25px;}
.grade_item_top {width: 45%; margin: 0 auto;}
.grade_item_top img {width: 100%;}
.grade_item_bot {width: 75%; margin: 0 auto; overflow: hidden; font-size: 0.7rem; margin-top: 1.2rem;}
.grade_item_bot p {display: inline-block; height: 1rem; line-height: 1rem; position: relative; text-indent: 1.5rem;}
.grade_item_bot p span {
    width: 1.5rem; height: 1rem; background: red; position: absolute; left: 0;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0404_6@3x.png) center center no-repeat;
    background-size: 20px;
}
.grade_item_rule {margin-top: 1.5rem;}
.grade_item_rule h3 {
    border-radius: 8px; margin: 0 auto; font-size: 0.7rem; width: 35%; height: 1.8rem; line-height: 1.8rem; text-align: center;
    position: relative; z-index: 10;
}
.grade_item_rule_box {background: #F7F7F7; color: #333333; font-size: 0.6rem; padding-top: 2rem; margin-top: -0.9rem; margin-bottom: 65px; padding-bottom: 1rem;}
.grade_item_rule_box p {width: 85%; margin: 0 auto; margin-bottom: 0.7rem; text-align:justify; text-justify:inter-ideograph;}


/* 提升等级 */
.bottom_tips {
    position: fixed; bottom: 53px; padding: 0.2rem 0; font-size: 0.6rem; text-align: center; width: 100%; text-align: center; color: #fff;
    background: #7F7F7F; opacity: 0.9;
}
.bottom_wrap {background: #fff; position: fixed; bottom: 0; height: 40px; line-height: 40px; width: 100%; padding-bottom: 8px; padding-top: 5px; z-index: 99;}
.bottom {
    text-align: center; font-size: 0.7rem; width: 90%; margin: 0 auto; overflow: hidden;
}
.bottom div {width: 48%;}
.bottom div:nth-child(1) {color: #fff; background: #FCCD00; border-radius: 10px;}
.bottom .bottom_invite:nth-child(1) {color: #fff; background: #FF5C5C; border-radius: 10px; margin: 0 auto;}
.bottom div:nth-child(2) {color: #fff; background: #FF5C5C; border-radius: 10px;}
.bottom div.no_pay {background: #ccc;}

/* 支付 */
.pay, .pay_success, .pay_fail, .pay_no {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, .2); z-index: 999;}
.pay.isApp, .pay_success.isApp, .pay_fail.isApp, .pay_no.isApp {top: 66px;}
.pay_cancel {position: absolute; top: 0; bottom: 38%; width: 100%;}
.pay_box {position: absolute; bottom: 0; width: 100%; height: 38%; background: #fff; border-radius: 12px 12px 0 0; font-size: 0.7rem;}
.pay_title, .pay_title_s {width: 100%; height: 40px; line-height: 40px; position: relative;}
.pay_title h1, .pay_title_s h1 {font-size: 17px; font-weight: 500; width: 60%; margin: 0 auto; text-align: center; color: #333; position: relative;}
.pay_title_s h1 span {
    width: 1rem; height: 0.8rem; display: inline-block; vertical-align: middle; margin-right: 0.3rem; position: relative; top: -0.1rem;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_dg.png) no-repeat;
    background-size: 100%; 
}
.pay_title span {position: absolute; top: 0; left: 0; height: 40px; width: 55px; color: #666; font-size: 0.6rem; text-align: center;}
.pay_content, .pay_content_s {width: 80%; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -60%);}
.pay_content p:nth-child(1) {color: #FF5C5C; font-size: 0.8rem;}
.pay_content p:nth-child(1) span {
    width: 1rem; height: 0.8rem; display: inline-block; vertical-align: middle; margin-right: 0.3rem; position: relative; top: 0.1rem;
    background: url(https://image.tudouni.doubozhibo.com/common/h5/carnival/0331_tdn.png) no-repeat;
    background-size: 100%; 
}
.pay_content p:nth-child(2) {color: #666; margin-top: 0.3rem;}
.pay_confirm {
    position: absolute; bottom: 5%; width: 68%; left: 50%; transform: translate(-50%, 0); text-align: center; height: 40px; line-height: 40px;
    border-radius: 10px; font-size: 0.8rem; background: #FF5C5C; color: #fff;
}
.pay_content_s {color: #666; transform: translate(-50%, -60%); text-align: left;}
.pay_content_s div {
    display: inline-block;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
}
.pay_no .pay_content_s {transform: translate(-50%, -70%);}
.pay_content_s p{margin-top: 0.3rem; display: inline-block;}
.pay_fail .pay_content_s P:nth-child(2){text-align: left;}
.pay_box_f {position: absolute; width: 70%; left: 15%; height: 33%; top: 30%; background: #fff; border-radius: 10px; font-size: 0.7rem;}
.pay_no .pay_box_f {height: 26%;}

