<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <meta name="format-detection" content="telephone=no, email=no">
  
  <meta name="renderer" content="webkit">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="HandheldFriendly" content="true">
  
  <meta name="MobileOptimized" content="320">
  
  <meta name="screen-orientation" content="portrait">
  
  <meta name="x5-orientation" content="portrait">
  
  <meta name="full-screen" content="yes">
  
  <meta name="x5-fullscreen" content="true">
  
  <meta name="browsermode" content="application">
  
  <meta name="x5-page-mode" content="app">
  
  <meta name="msapplication-tap-highlight" content="no">
  
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="description" content="">
  <title>土豆泥商城</title>

  <style>
    html,body,#_root,._root_container{
      min-height:100%;
    }
  </style>
</head>
<body>
  <div id="_root">
    <div class="loading" id="_loading">
      <div class="loading-model">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script>
    var _mtac = {};
    (function() {
        var mta = document.createElement("script");
        mta.src = "https://pingjs.qq.com/h5/stats.js?v2.0.2";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500486523");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
  </script> -->
  </body>
</html>