@charset "UTF-8";
html { font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; padding: 0; color: #000; background-color: #fff; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a { background: transparent; text-decoration: none; color: #000; }

a:active { outline: 0; }

b, strong { font-weight: bold; }

img { border: 0; vertical-align: middle; }

* { -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; /* For some Androids */ outline: none; }

input, textarea, button { border: 0; margin: 0; padding: 0; font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

textarea { resize: none; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }

ul, ol, li, dl, dd { margin: 0; padding: 0; }

ul, ol { list-style: none; }

.fl { float: left; }

.fr { float: right; }

/*tips提醒*/
.tips { overflow: hidden; }

.tips .logo img, .tips .logo p { float: left; }

.tips .logo img { width: 5rem; padding: 0.5rem 0.3rem 0.5rem 0.7rem; }

.tips .logo p { font-size: 0.6rem; padding-top: 0.9rem; color: #333333; }

.tips .logo p span { padding-right: 0.3rem; color: #eeeeee; }

.tips .download { width: 3.8rem; text-align: center; border-radius: 5px; background: -webkit-linear-gradient(left, #f3a911, #f57731); margin: 0.5rem 0.7rem 0 0; }

.tips .download a { display: inline-block; color: #fff; font-size: 0.6rem; padding: 0.4rem 0.5rem; }

/*header*/
header { background: url(../images/bg1@2x.png) no-repeat; background-size: 100% 100%; }

.headpic { width: 60%; margin: 0 auto; padding-bottom: 1.8rem; overflow: hidden; }

.headpic .touX { width: 4rem; height: 4rem; border-radius: 50%; background: yellowgreen; background-size: 100% 100%; border: 2px solid #d6cbbf; position: relative; margin: 3.9rem auto 0.6rem; }

.headpic .touX span { position: absolute; right: 0; bottom: 0; display: inline-block; width: 1rem; height: 1rem; border: 1px solid #d6cbbf; border-radius: 50%; background: url(../icon/personal_center_crown@2x.png); background-size: 100% 100%; }

.headpic p { text-align: center; line-height: 1.5rem; height: 1.5rem; color: #fff; font-size: 0.8rem; }

.headpic p:nth-child(3), .headpic p:nth-child(4) { color: #c9c8c8; font-size: 0.6rem; }

.headpic p:nth-child(5) span:nth-child(2) { margin: 0 0.7rem; }

.headpic .sex { display: inline-block; width: 1rem; height: 1rem; position: relative; top: 0.25rem; margin: 0 0.15rem 0 0.25rem; border-radius: 50%; }

.headpic .grade { display: inline-block; position: relative; border-radius: 3px; width: 1.8rem; height: 1rem; line-height: 1rem; color: #fff; background: #eed819; }

/*billborad*/
.billborad { height: 3.3rem; line-height: 3.3rem; }

.billborad .guard { font-size: 0.7rem; }

.billborad .guard img { width: 1.6rem; padding-left: 0.7rem; }

.billborad .guard span { position: relative; top: 0.2rem; }

.billborad .guards li { float: left; width: 2rem; height: 2rem; border-radius: 50%; background: yellowgreen; margin: 0.8rem 0.5rem 0 0; position: relative; }

.billborad .guards li:nth-child(1) { border: 1.5px solid #ffbd00; }

.billborad .guards li:nth-child(1) span { position: absolute; top: -0.5rem; left: -0.4rem; display: inline-block; width: 1.5rem; height: 1.5rem; background: url(../icon/911497406162_.pic.jpg) no-repeat; background-size: 100%; transform: rotate(12deg); -webkit-transform: rotate(-12deg); }

.billborad .guards li:nth-child(2) { border: 1.5px solid #da947e; }

.billborad .guards li:nth-child(2) span { position: absolute; top: -0.5rem; left: -0.4rem; display: inline-block; width: 1.5rem; height: 1.5rem; background: url(../icon/891497406154_.pic.jpg) no-repeat; background-size: 100%; transform: rotate(12deg); -webkit-transform: rotate(-12deg); }

.billborad .guards li:nth-child(3) { border: 1.5px solid #d4d4d0; }

.billborad .guards li:nth-child(3) span { position: absolute; top: -0.5rem; left: -0.4rem; display: inline-block; width: 1.5rem; height: 1.5rem; background: url(../icon/871497406145_.pic.jpg) no-repeat; background-size: 100%; transform: rotate(12deg); -webkit-transform: rotate(-12deg); }

/* content */
.content { background: #f4f5f9; overflow: hidden; }

.play { margin-top: 0.6rem; background: #fff; overflow: hidden; }

.play li { float: left; }

.play li:nth-child(1) { width: 2rem; height: 2rem; border-radius: 50%; background: yellowgreen; background-size: 100% 100%; margin: 0.5rem 0.6rem 0.6rem 0.7rem; position: relative; }

.play li:nth-child(1) span { position: absolute; bottom: 0; right: 0; display: inline-block; width: 0.8rem; height: 0.8rem; border: 1px solid #d6cbbf; border-radius: 50%; background: url(../icon/personal_center_crown@2x.png); background-size: contain; }

.play li:nth-child(2) { margin-top: 0.5rem; }

.play li > p { font-size: 0.8rem; }

.play li > p:nth-child(2) { font-size: 0.7rem; color: #ccc; }

.play .fr { font-size: 0.8rem; color: #ccc; margin: 0.8rem 0.7rem 0 0; }

.play .fr span { color: #ffa201; font-size: 1rem; padding-right: 0.5rem; }

.play .livebroad { width: 100%; height: 20rem; background: url(../images/bg1@2x.png) no-repeat; background-size: 100% 100%; position: relative; overflow: hidden; }

.play .livebroad p { float: right; margin: 0.7rem 0.7rem 0 0; width: 4.8rem; height: 1.5rem; line-height: 1.5rem; border: 1px solid #fff; border-radius: 1rem; background: #4d5f72; overflow: hidden; }

.play .livebroad p span { float: left; display: inline-block; width: 1rem; height: 1rem; margin: 0.2rem 0 0 0.5rem; background: url(../icon/icon_play_yellow_normal@2x.png) no-repeat; background-size: 100%; overflow: hidden; }

.play .livebroad p a { float: left; font-size: 0.7rem; color: #fff; display: inline-block; margin: -0.1rem 0 0 0.3rem; }

.pback { margin-bottom: 0.6rem; }

.pback .livebroad p { width: 2.8rem; }

.pback .livebroad p a { margin-left: 0.7rem; }

.pback .signature { height: 2.5rem; line-height: 2.5rem; padding-left: 0.7rem; font-size: 0.8rem; }

.pback .option { border-top: 2px solid #fbfbfb; }

.pback .option a { display: inline-block; width: 32%; height: 2.3rem; line-height: 2.3rem; text-align: center; color: #ccc; }

.pback .option a img { width: 1.5rem; }

/* footer */
footer li { float: left; height: 3rem; line-height: 3rem; width: 32%; text-align: center; font-size: 0.9rem; }

footer li img { width: 1.8rem; margin-left: 0.2rem; }

footer .talk img { width: 2.2rem; }
