@charset "UTF-8";
html { font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; padding: 0; color: #000; background-color: #fff; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a { background: transparent; text-decoration: none; color: #000; }

a:active { outline: 0; }

b, strong { font-weight: bold; }

img { border: 0; vertical-align: middle; }

* { -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; /* For some Androids */ outline: none; }

input, textarea, button { border: 0; margin: 0; padding: 0; font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

textarea { resize: none; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }

ul, ol, li, dl, dd, span { margin: 0; padding: 0; }

ul, ol { list-style: none; }
