* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  
  html,
  body {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none;
    user-select: none;
    background: #efefef;
    min-height: 100%;
    font-size: 15px;
    font-family: arial, tahoma, 'Microsoft Yahei', sans-serif;
    color: #333333;
    overflow-x: hidden;
  
  }
  div,em,strong,p,span,a,input,ol,header,footer,article,aside,section,nav,table,tbody,tr,td,tbody,thead,mark,ul,li,ol,form{
    margin:0px;
    padding:0px;
    vertical-align:baseline;
    border:0px;
    font:inherit;
  }
  
  html,
  body,
  ul,
  li,
  ol,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  
  ul,
  li,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  a:active,
  a:hover {
    outline: 0;
  }
  
  button {
    border: none;
  }
  
  button,
  input,
  select,
  textarea {
    outline: none;
  }
  button,input{
    outline:none;
    -webkit-appearance:none;
  }
  
  .clearfix:after,
  .clearfix:before {
    content: '';
    clear: both;
    display: table;
  }
  img{
    width: 100%;
    vertical-align: top;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .containers{
    background: #f3f3f3;
  }
  .bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 44px;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
  }
  .container-bottom{
    padding-bottom: 54px;
  }
  .header+.containers, .main-header+.containers {
    padding-top: 64px;
    -webkit-overflow-scrolling: touch;
  }
  .header.wxHeader+.containers,
  .header.androidClass+.containers, 
  .main-header.androidClass+.containers{
    padding-top: 44px!important;
  }
  
  .btn{
    display: inline-block;
    padding: 5px 8px;
    border-radius:5px;
    -webkit-border-radius:5px;
  }
  .btn-light{
    border: 1px solid #efAB28;
    color: #efAB28;
  }
  .btn-dark{
    border: 1px solid #9b9b9b;
    color: #9b9b9b;
  }
  
  
  .red{
    color: #D0011B; 
  }
  
  .btn-block {
    display: block;
    width: 100%;
    text-align: center;
  }
  .sibu-btn-block {
    background-color: #efAB28;
    color: #fff;
    border-radius: 20px;
  }
  
  .cgreen{
    color: #efAB28 ;
    padding-right: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .zname .cgreen:last-child{
    padding-top: 8px;
    font-size: 16px;
  }
  .smalltxt{
    font-size: 12px;
  }
  