body,ul,div,li,p {margin: 0;padding: 0}
ul {list-style: none;}
body {font-size: 12px;background: rgb(244,245,249);}
.left {float: left;}
.right {float: right;}
a {text-decoration: none;}


.top {
	width: 100%;
	height: 3rem;
	background: #fff;
	overflow: hidden;
}
.logo img,.logo p{
	float: left;
}
.logo img {
	width: 5.5rem;
	height: 2rem;
	padding: 0.5rem 0.5rem 0.7rem;
}
.logo p {
	font-size: 0.6rem;
	color: rgb(51,51,51); 
	padding:1rem 0.5rem 0 0;
}
.logo p span {
	color: rgb(238,238,238); 
	padding-right: 0.5rem;
}
.download {
	margin:0.5rem 0.5rem 0.5rem 0;width: 3.8rem;height: 1.8rem;text-align: center;
	border-radius: 5px;
	background: -webkit-linear-gradient(left, rgb(243,169,17) , rgb(245,119,49)); 
}
.download a {
	color: rgb(255,255,255);
	line-height: 2rem;
	font-size:0.8em;
}

.wrap-headpic {
	background: url(images/bg1@2x.png) no-repeat;
	width: 100%;
	height: 30%;
	overflow: hidden;
	background-size:100% 100%;
}
.headpic {
	width: 10rem;
	margin: 0 auto 2.5rem;
}
.touX {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin:  3.9rem auto 0;
	background: yellowgreen;
}
.headpic p {
	text-align: center;
	line-height: 1.5rem;
	height: 1.5rem;
	color: #fff;
}
.billborad {
	height: 3.5rem;
	line-height: 3.5rem;
	width: 100%;
	background: #fff;
}
.guard {
	padding: 0.5rem 0 0 1rem;
	line-height: 2.5rem;
}
.guard img {width: 1.8rem;}
.guard span {position: relative;top: -0.5rem;}
.guards li {
	float: left;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: yellowgreen;
	margin:1em 1em 0 0;
	border: 1px solid red;
}
.livebroad {
	margin-top: 0.8rem;
	background: #fff;
	overflow: hidden;
}
.contentop {
	width: 100%;
	background: #fff;
	height: 3rem;
	line-height: 3.8rem;
}
.headimg {
	position: relative;
}
.headimg div {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: yellowgreen;
	position: absolute;
	top:0.7rem;
	left: 1rem;
}
.headimg .hname {
	position: absolute;
	top:-0.8rem;
	left: 3.5rem;
}
.headimg .htime {
	position: absolute;
	top:0rem;
	left: 3.5rem;
}
.contentop .right {
	margin-right: 0.8rem;
}
.contentop .right span {
	color: rgb(255,162,1);
	font-size: 1rem;
}
.livebroad .zhuboimg {
	width: 100%;
	height: 20rem;
	background: url(images/bg1@2x.png) no-repeat;
	background-size:100% 100%;
	position: relative;
}
.livebroad .zhuboimg span {
	position: absolute;
	right: 0.8rem;
	top: 1rem;
	display: block;
	color: #fff;
	text-align: center;
	width: 5rem;
	height: 3rem;
	background-color: rgb(244,245,249);
	background: url(../icon/icon_play_yellow_normal@2x.png) no-repeat;
}
.playback {
	margin: 0.8rem 0;
	background: #fff;
}
.playback p {
	padding-left: 0.8rem;
	height: 1.5rem;
	line-height: 1.5rem;
}
.playback ul>li {
	float: left;
	width: 32%;
	height: 2rem;
}
.playback ul>li img {
	padding-left:20%;
	width: 2rem;
}
.playback ul>li span {
	position: relative;
	top: -1.25em;
	color: #ccc;
}
/*底部选项卡*/
.footer {
	width: 100%;
	background: #fff;
	height: 3rem;
}
.footer ul li {
	float: left;
	width: 32%;
	height: 2rem;
}
.footer ul>li img {
	padding-left: 20%;
	width: 2.2rem;
}
.footer ul>li span {
	position: relative;
	top: -1em;
}