<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="土豆,土豆泥直播,土豆泥">
    <meta name="description" content="土豆泥直播,最高端的手机视频直播">
    <meta name="msapplication-tap-highlight" content="no">
	<title>邀请收益</title>
</head>
	<link rel="stylesheet" href="../css/rebate.css">
<body>
	<div id="datum">
		<div class="top">
	        <div v-on:click="changes(1)"><div :class='{ active : tab == 1 ? true : false}'>粮票</div></div>
	        <div v-on:click='changes(2)'><div :class='{ active : tab == 2 ? true : false}'>土豆泥</div></div>
    	</div>

		<!-- 粮票 -->
    	<div id="hot" v-show="tab == 1">
    		<div class="hots"  :class='{ hactive : data }' v-for='i in item'>
    			<div class="portrait">
	                <div v-bind:style="{background:'url('+ i.userPhoto +') no-repeat', backgroundSize:'100% 100%'}"></div>
	            </div>
	            <div class="nickname">
	                <span>{{i.userName}}</span>
	                <p>{{i.level | grade}}级邀请</p>
	            </div>
	            <div class="votes">
	                <span>累计返利粮票</span>
	                <p>+{{i.hots}}</p>
	            </div>
    		</div>
    		<!-- 没有数据 -->
    		<div class="no_message" :class='{ mactive : nothing }'>
	            <div></div>
	            <p>你还没有邀请你的好友加入</p>
	            <div>
	                <a href="#">前往邀请好友</a>
	            </div>
	        </div>
    	</div>
		
		<!-- 土豆泥 -->
    	<div id="experience" v-show="tab == 2">
    		<div class="hots" :class='{ hactive : data2 }' v-for='i in item2'>
    			<div class="portrait">
	                <div v-bind:style="{background:'url('+ i.userPhoto +') no-repeat', backgroundSize:'100% 100%'}"></div>
	            </div>
	            <div class="nickname">
	                <span>{{i.userName}}</span>
	                <p>{{i.level | grade}}级邀请</p>
	            </div>
	            <div class="votes">
	                <span>累计返利土豆泥</span>
	                <p>+{{i.experience}}</p>
	            </div>
    		</div>
    		<!-- 没有数据 -->
    		<div class="no_message" :class='{ mactive : nothing2 }'>
	            <div></div>
	            <p>你还没有邀请你的好友加入</p>
	            <div>
	                <a href="#">前往邀请好友</a>
	            </div>
	        </div>
    	</div>
	</div>
</body>
	<script src='../js/jquery.js'></script>
	<script src='../js/vue.js'></script>
	<script>
	function initFontSize(size, width) {
        var size = size || 20, width = width || 375,
            clientWidth = document.documentElement.clientWidth <= 480 ? document.documentElement.clientWidth : 480;
        document.getElementsByTagName('html')[0].style.fontSize = clientWidth * size / width + 'px'
    }

    window.addEventListener("resize", function () {
        setTimeout(function () {
            initFontSize();
        }, 200)
    });

    initFontSize();

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    };

    var uid = getUrlParam('uid');
    var token = getUrlParam('token');
    var page = getUrlParam('page') || 1;
    var size = getUrlParam('pageSize') || 10;
    var type = getUrlParam('type');
    new Vue({
        el: '#datum',
        data: {
            item: [],
            item2: [],
            tab: 1,
            nothing: false,
            nothing2: false,
            data: false,
            data2: false,
        },
        methods: {
            changes: function (x) {
                this.tab = x;
            }
        },
        mounted: function() {
            //判断是粮票还是土豆泥入口
            if (type == 1) {
                this.tab = 1;
            }
            if (type == 2) {
                this.tab = 2;
            }
            //粮票返利
            $.ajax({
                type: 'get',
                url: "http://api.tudouni.doubozhibo.com/auth/income/award/hots?uid="+ uid +"&token="+ token +"&page="+ page +"&pageSize="+size,
                async: true,
                dataType: 'json',
                success: function(data) {
                    if (data.code !== 0) {
                        this.nothing = true;
                        return;
                    }
                    if (data.data == null || data.data.length == 0) {
                        this.nothing = true;
                        return;
                    }
                    if (data.data.length > 0) {
                        this.data = true;
                        this.item = data.data;
                    }
                }.bind(this)
            });
            //土豆泥返利
            $.ajax({
                type: 'get',
                url: "http://api.tudouni.doubozhibo.com/auth/income/award/experience?uid="+ uid +"&token="+ token +"&page="+ page +"&pageSize="+size,
                async: true,
                dataType: 'json',
                success: function(data) {
                    if (data.code !== 0) {
                        this.nothing2 = true;
                        return;
                    }
                    if (data.data == null || data.data.length == 0) {
                        this.nothing2 = true;
                        return;
                    }
                    if (data.data.length > 0) {
                        this.data2 = true;
                        this.item2 = data.data;
                    }
                }.bind(this)
            });
        },
        filters: {
        	grade(x) {
        		if (x == '1') {
    				return "一";
    			}
    			if (x == '2') {
    				return "二";
    			}
        	}
        }
    })
	</script>
</html>